[Desktop Entry]
Type=Application
Name=AxMath Document
MimeType=application/x-wine-extension-afx;
Exec=env WINEPREFIX="/Users/pastrysweet/.wine" wine start /ProgIDOpen Equation.AxMath %f
NoDisplay=true
StartupNotify=true
Icon=4373_AxMath.0
