[Desktop Entry]
Type=Application
Name=hh
MimeType=application/x-wine-extension-chm;
Exec=env WINEPREFIX="/Users/pastrysweet/.wine" wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=D15F_hh.0
